BcSampleAppsSolution/Workflows/SendRequestToOpenAI-E18931FD-4393-ED11-AAD1-000D3A991110.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "7a8b35be-f1f8-45f7-9a05-a2aeed3013bc"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_1": {
                  "title": "target",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text": {
                  "title": "prompt",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text_1",
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Send_request_to_ChatGPT": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "07a09ef0-51a9-409d-b5a8-0279ae290249"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.openai.com/v1/completions",
                "headers": {
                  "Authorization": "Bearer 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",
                  "Content-Type": "application/json"
                },
                "body": {
                  "model": "text-davinci-003",
                  "prompt": "@triggerBody()['text']",
                  "temperature": 0,
                  "max_tokens": 150
                }
              }
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "Send_request_to_ChatGPT": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "26c7323d-2e8f-438c-9d90-fe8b9b77a71d"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "result": "@{body('Send_request_to_ChatGPT')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "title": "result",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Send_request_to_Dall-e": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "07a09ef0-51a9-409d-b5a8-0279ae290249"
                },
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "https://api.openai.com/v1/images/generations",
                  "headers": {
                    "Authorization": "Bearer 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",
                    "Content-Type": "application/json"
                  },
                  "body": {
                    "n": 1,
                    "prompt": "@triggerBody()['text']",
                    "size": "1024x1024"
                  }
                }
              },
              "Respond_to_a_PowerApp_or_flow_2": {
                "runAfter": {
                  "Send_request_to_Dall-e": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "26c7323d-2e8f-438c-9d90-fe8b9b77a71d"
                },
                "type": "Response",
                "kind": "PowerApp",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "result": "@{body('Send_request_to_Dall-e')}"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "title": "result",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()['text_1']",
              "chatGPT"
            ]
          },
          "metadata": {
            "operationMetadataId": "b799f094-ab9a-4eb6-9e4e-6f44d36710d0"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}